:root{
    --color--header: #ffeeb7;
    --color--body: #ffeeb7;
    --color--pannel: #ffb4a3;
    --color--pannel_hover: #ff947c;
    --color--h2: rgb(102, 102, 199);
    --color--form: #ffb4a3;
    --color--label: black;
    --color--cont_p : rgb(20, 94, 82);
    --color--hover:  #414141;
}
.dark-mode{
    --color--header: white;
    --color--body: gray;
    --color--pannel: rgb(51, 46, 46);
    --color--pannel_hover: #000000;
    --color--h2: white;
    --color--form: rgb(71,71,71);
    --color--label: white;
    --color--cont_p : white;
    --color--hover:  #ffffff;
}
#icon{
	width: 30px;
	cursor: pointer;
	margin: 10px;
    position: absolute;
    right: -5px;
    top: -5px;
}
.card{
   
    background-color: var(--color--body);
    display: grid;
    color: var(--color--label);
}

.calculator-name-header {
    background-color: var(--color--form);
    color: var(--color--label);
}
body  {
   
    background-color: var(--color--body);
    
}
.main{
    background-color: var(--color--form);
    
}
.container{
    
    background-color: var(--color--pannel);
   
}
form {
    background-color: var(--color--form);
    
    box-shadow: 0 10px 6px -6px #777;
}
.speech{
    color: var(--color--label);
}