@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

::selection {
  background: hsl(121, 98%, 50%);
  color: #ffffff68;
}

body {
  min-height: 100vh;
  background: linear-gradient(#090909 50%, #090909 50%);
  /* placing all thing to the center */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.converter {
  background: #fff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  width: 440px;
  border-radius: 5px;
}
header {
  text-align: center;
  font-size: 26px;
  color: #111115;
  font-weight: 400;
}

.converter input {
  background: none;
  border: none;
  
  outline: none;
  margin-top: 30px;
  font-size: 17px;
  height: 50px;
  padding: 10px;
}
.convertBtn {
  width: 100%;
  height: 54px;
  background: #040404;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  border: none;
  
  outline: none;
  font-size: 18px;
  margin-top: 30px;
}
.output {
  background: #fff;
  width: 100%;
  margin-top: 40px;
  padding: 15px 20px;
  border-radius: 5px;
}
.output p {
  font-size: 18px;
  font-weight: 500;
}
.result {
  color: #fc0321;
  font-weight: 500;
  margin-left: 5px;
}
.emptyBox {
  background: #fc0321;
  padding: 10px;
  width: 420px;
  text-align: center;
  border-radius: 5px;
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  display: none;
  opacity: 0;
}
.emptyBox.active {
  display: block;
  opacity: 1;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}