@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ffeeb7;
  display: grid;
  place-items: center;
  /* overflow: hidden; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

form {
  background-color: #ffb4a3;
  padding: 80px;
  width: 50%;
  margin: 60px auto;
  text-align: center;
  place-items: center;
  box-shadow: 0 10px 6px -6px #777;
}

label {
  font-size: 26px;
  font-weight: 500;
}

#temp {
  border: none;
  padding: 10px;
  height: 25px;
  width: 150px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 20px;
}

#temp_diff {
  height: 25px;
  margin-left: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 15px;
}

[type="button"] {
  height: 35px;
  margin: 20px;
  margin-bottom: -10px;
  width: 100px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;
}

#resultContainer {
  font-size: 30px;
}

#num1 {
  border: none;
  padding: 10px;
  height: 25px;
  width: 200px;
  font-size: 18px;
  border-radius: 3px;
  margin-top: 5px;
}

#num2 {
  border: none;
  padding: 10px;
  height: 25px;
  width: 200px;
  font-size: 18px;
  border-radius: 3px;
  margin-top: 5px;
}

#cal {
  height: 25px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 15px;
}

#resultCalculator {
  font-size: 30px;
}

#resultDataCalculator {
  font-size: 30px;
}
#resultWeighCalculator {
  font-size: 30px;
}


#numChange {
  border: none;
  padding: 10px;
  height: 25px;
  width: 150px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 20px;
}

#numSys {
  height: 25px;
  margin-left: 5px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 15px;
}

#resultNumChange {
  font-size: 30px;
}

#base {
  border: none;
  padding: 10px;
  height: 20px;
  width: 150px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
}

#index {
  border: none;
  padding: 10px;
  height: 20px;
  width: 150px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
}

#resultPower {
  font-size: 30px;
}

#fact {
  border: none;
  padding: 10px;
  height: 20px;
  width: 120px;
  font-size: 18px;
  border-radius: 3px;
  margin-top: 5px;
}

#resultFact {
  font-size: 15px;
}

#log {
  border: none;
  padding: 10px;
  height: 20px;
  width: 120px;
  font-size: 18px;
  border-radius: 3px;
  margin-top: 5px;
}

#resultLog {
  font-size: 30px;
}

#resultBMI {
  font-size: 30px;
}

#resultBMImsg {
  font-size: 20px;
  color: #071b88;
}

#wei {
  border: none;
  padding: 10px;
  height: 20px;
  width: 150px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
}

#hei {
  border: none;
  padding: 10px;
  height: 20px;
  width: 150px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
}

#bmiImg {
  display: flex;
  justify-content: center;
}

table,
td {
  border: 1px solid black;
  background-color: #ffd6cd;
}

thead {
  background-color: black;
  color: #fff;
}

#DOB {
  padding: 5px;
  height: 20px;
  width: 150px;
  font-size: 15px;
}

#resultAge {
  font-size: 30px;
}

#a {
  border: none;
  padding: 10px;
  height: 20px;
  width: 100px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

#b {
  border: none;
  padding: 10px;
  height: 20px;
  width: 100px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

#c {
  border: none;
  padding: 10px;
  height: 20px;
  width: 100px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

#resultEqn {
  font-size: 30px;
}

#num1 {
  border: none;
  padding: 10px;
  height: 20px;
  width: 150px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
}

#num2, #angle-value {
  border: none;
  padding: 10px;
  height: 20px;
  width: 150px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 5px;
}

#resultHCF {
  font-size: 30px;
}

#resultLCM {
  font-size: 30px;
}

#input {
  border: none;
  padding: 10px;
  height: 25px;
  width: 150px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 10px;
}

#inputdata {
  border: none;
  padding: 10px;
  height: 12px;
  width: 140px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 10px;
}
#inputweigh {
  border: none;
  padding: 10px;
  height: 12px;
  width: 140px;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 10px;
}

#output {
  font-size: 30px;
}

#conversion {
  height: 25px;
  margin-left: 5px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 15px;
}

.calculator-name-header {
  margin-top: 50px;
  padding: 10px;
  border-radius: 0px 15px 0px 15px;
  box-shadow: 0px 0px 16px 1px;
  font-size: 25px;
  background-color: #ffb4a3;
}

#home{
  /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 15px;
    color: #ffffff;
    background-color: #121916;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.2;
    z-index: 999;
}

#angle-type {
  height: 40px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 15px;
}

.checkbox-span{
  padding: 20px;
}
