body {
    width: 100vw;
    height: 100vh;
    background-color: #f2f1eb;
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }
  

.bmr-calculator {
    max-width: 400px;
    font-family: "Roboto", sans-serif;
    font-size: large;
    padding: 8px 24px;
    box-shadow: 0 4px 8px 5px rgb(0, 0, 0, 0.3);
    background-color: rgb(228, 224, 185);
  }
  
  .bmr-calculator,
  .bmr-calculator * {
    box-sizing: border-box;
  }
  
  .bmr-calculator h2 {
    text-align: center;
    background: #a32c05;
    color: #fff;
    font-weight: bold;
    margin: -8px -24px;
    margin-bottom: 4px;
    padding: 20px;
  }
  
  .bmr-calculator form h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 16px 0 10px 0;
  }
  
  .bmr-calculator form input[type="text"] {
    width: 100%;
    padding: 4px 16px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #1abbf0;
  }
  
  .bmr-calculator form input[type="text"].invalid {
    border: 1px solid red;
  }
  
  .bmr-calculator form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .bmr-calculator form #female {
    margin-left: 30px;
  }
  
  .bmr-calculator form .height,
  .bmr-calculator form .weight {
    position: relative;
  }
  
  .bmr-calculator form .unit {
    position: absolute;
    right: 20px;
    top: 50px;
    color: #777;
  }

  .bmr-calculator .result .calculate-btn {
    padding: 8px 24px;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    
    background: #a32c05;
    color: #fff;
    cursor: pointer;
    margin-bottom: 32px;
  }
  
  .bmr-calculator .result {
    text-align: center;
    color: #171616;
    font-size: 18px;
  }
  
  .bmr-calculator .result .calories {
    color: green;
    font-size: 36px;
    font-weight: 900;
    margin-right: 8px;
  }
  
  .bmr-calculator .result .error-message {
    color: red;
    font-size: 15px;
    display: none;
  }
  
  .bmr-calculator .result .error-message.active {
    display: block;
  }