/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: #1d061a;
  --text-color: hsl(0, 0%, 100%);
  --body-font: 'Space Grotesk', sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins;
  font-family: Ubuntu;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  overflow: hidden; /* For the animations ScrollReveal */
}

/*=============== HOME ===============*/
.home {
  background-color: var(--first-color);
  padding: 9rem 0 2rem;
  height: 100vh;
  display: grid;
}

.home__container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin: .75rem 0;
  text-shadow: 2px 2px 10px #830885;
}

.home__button {
  margin-top: 2rem;
  display: inline-block;
  background-color: var(--text-color);
  color: var(--first-color);
  padding: .80rem 1.5rem;
  border-radius: 3rem;
  transition: .4s;
  font-weight: 600;
}

.home__button:hover {
  box-shadow: 0 4px 12px hsla(33, 18%, 90%, 0.2);
}

.home__img img {
  width: 300px !important;
  animation: floaty 1.8s infinite alternate;
}

.home__img {
  justify-self: center;
}

.home__shadow {
  width: 130px;
  height: 20px;
  background-color: hsla(0, 3%, 77%, 0.16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

/*=============== FOOTER ===============*/
.home__footer {
  display: flex;
  justify-content: center;
  font-size: 1rem !important;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  align-self: flex-end;
}

.home__footer span a{
  color: whitesmoke;
}

.home__footer span a:hover{
  color: gray;
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    padding-top: 7rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__img img {
    width: 400px;
  }
  .home__shadow {
    width: 250px;
    height: 40px;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}