@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300&display=swap");
:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  font-family: Ubuntu;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d061a;
}


.loader {

  position: fixed;
  z-index: 99999 !important;
  background: #c8c4c1;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.disappear {
  animation: vanish 4s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1d061a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: white;
}

body {
  font-size: 1.4rem;
}

/* STICKY NAVBAR CSS BELOW */

.navbar {
  /* max-width: 1300px; */
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(315deg, #0d40ae, #ff0058);
}

section {
  scroll-margin-top: 50px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* box-shadow: 2px 2px 5px blue; */
  box-shadow: 0px 10px 20px 0px #830885;
}

nav ul {
  display: flex;
  gap: 3.5rem;
}

nav li {
  font-size: 1.8rem;
  border-bottom: 0.4rem transparent solid;
  transition: 0.3s ease-in-out;
  margin-right: 10px;
}
nav li a i {
  margin-right: 3px;
}

nav li:hover {
  border-bottom: 0.4rem var(--secondary-color) solid;
  transition: 0.3s ease-in-out;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 10px;
  font-family: Ubuntu;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* HERO SECTION BELOW */

.hero-section .herocontainer h1,
h3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 200;
}
.hero-section .herocontainer h1 {
  margin-top: 130px;
  font-size: 8rem;
  text-shadow: 2px 2px 10px #830885;
}
.hero-section .herocontainer h3 {
  font-weight: 300;
  font-size: 3rem;
}
.paragraph {
  font-size:2rem;
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 20px;
  color: rgb(248, 248, 248, 0.7);
}

.hero-section {
  height: 70vh;
  display: grid;
  color: white;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* place-items: center; */
  text-align: center;
  z-index: 4;
}

/* .hero-section p {
    width: 100rem;
  } */

.hero-section h1 {
  font-size: 96px;
}

.hero-section h3 {
  font-size: 32px;
}

/* .hero-section {
      z-index: 100;
  }
  #hero {
      z-index: 100;
  }
  
  .herocontainer {
      z-index: 100;
  } */

.bubblescontainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  z-index: 50;
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: bubbles 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes bubbles {
  0% {
    transform: translateY(100vh) scale(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-10vh) scale(1);
    opacity: 0;
  }
}

.search-bar{
  display: flex;
  justify-content: center;
}

#mySearch{
  height: 6rem;
  width: 60rem;
  border-radius: 40px;
  padding: 1rem;
  padding-left: 2rem;
  font-size: 2rem;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}

.container .box:hover:before,
.container .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc((100% - 90px));
}

.container .box:nth-child(1)::before,
.container .box:nth-child(1)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(4)::before,
.container .box:nth-child(4)::after {
  background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(5)::before,
.container .box:nth-child(5)::after {
  background: linear-gradient(315deg, #3a3f38, #6abd1b);
}

.container .box:nth-child(6)::before,
.container .box:nth-child(6)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(7)::before,
.container .box:nth-child(7)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(8)::before,
.container .box:nth-child(8)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(9)::before,
.container .box:nth-child(9)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(10)::before,
.container .box:nth-child(10)::after {
  background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(11)::before,
.container .box:nth-child(11)::after {
  background: linear-gradient(315deg, #3a3f38, #6abd1b);
}

.container .box:nth-child(12)::before,
.container .box:nth-child(12)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(6)::before,
.container .box:nth-child(6)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(13)::before,
.container .box:nth-child(13)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(14)::before,
.container .box:nth-child(14)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(15)::before,
.container .box:nth-child(15)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(16)::before,
.container .box:nth-child(16)::after {
  background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(17)::before,
.container .box:nth-child(17)::after {
  background: linear-gradient(315deg, #3a3f38, #6abd1b);
}

.container .box:nth-child(18)::before,
.container .box:nth-child(18)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

/* .container .box:nth-child(n + 18)::before,
.container .box:nth-child(n + 18)::after {
  background: linear-gradient(315deg, #4dff03, #18abcc);
} */
.container .box:nth-child(19)::before,
.container .box:nth-child(19)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(20)::before,
.container .box:nth-child(20)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(21)::before,
.container .box:nth-child(21)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(22)::before,
.container .box:nth-child(22)::after {
  background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(23)::before,
.container .box:nth-child(23)::after {
  background: linear-gradient(315deg, #3a3f38, #6abd1b);
}

.container .box:nth-child(24)::before,
.container .box:nth-child(24)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(25)::before,
.container .box:nth-child(25)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(26)::before,
.container .box:nth-child(26)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(27)::before,
.container .box:nth-child(27)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(28)::before,
.container .box:nth-child(28)::after {
  background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(29)::before,
.container .box:nth-child(29)::after {
  background: linear-gradient(315deg, #3a3f38, #6abd1b);
}

.container .box:nth-child(30)::before,
.container .box:nth-child(30)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(31)::before,
.container .box:nth-child(31)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(32)::before,
.container .box:nth-child(32)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(33)::before,
.container .box:nth-child(33)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(34)::before,
.container .box:nth-child(34)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(35)::before,
.container .box:nth-child(35)::after {
  background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(36)::before,
.container .box:nth-child(36)::after {
  background: linear-gradient(315deg, #3a3f38, #6abd1b);
}

.container .box:nth-child(37)::before,
.container .box:nth-child(37)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}
.container .box:nth-child(38)::before,
.container .box:nth-child(38)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(39)::before,
.container .box:nth-child(39)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(40)::before,
.container .box:nth-child(40)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(41)::before,
.container .box:nth-child(41)::after {
  background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(42)::before,
.container .box:nth-child(42)::after {
  background: linear-gradient(315deg, #3a3f38, #6abd1b);
}

.container .box:nth-child(43)::before,
.container .box:nth-child(43)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(44)::before,
.container .box:nth-child(44)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(45)::before,
.container .box:nth-child(45)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(46)::before,
.container .box:nth-child(46)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box:nth-child(47)::before,
.container .box:nth-child(47)::after {
  background: linear-gradient(315deg, #2b3427, #0a596a);
}

.container .box:nth-child(48)::before,
.container .box:nth-child(48)::after {
  background: linear-gradient(315deg, #3a3f38, #6abd1b);
}

.container .box:nth-child(49)::before,
.container .box:nth-child(49)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}

.container .box:nth-child(50)::before,
.container .box:nth-child(50)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}
.container .box:nth-child(n + 50)::before,
.container .box:nth-child(n + 50)::after {
  background: linear-gradient(315deg, #1e470c, #00d0ff);
}


.container .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}

.container .box:hover span::after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }
}

.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
  color: #fff;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

/* FOOTER SECTION STARTS BELOW */

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 45vh;
  background: #1d061a;
  /* change color and min height here to observe difference between footer and calculator last row */
}

footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-icon li,
footer .menu li {
  list-style: none;
}

footer .social-icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
  display: inline-block;
}

.footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

/* Sticky ScrollToTop Button */
.scrollToTopContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem 0;

  height: fit-content;
  width: fit-content;
  z-index: 100000;
}

.scrollToTopButton {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  background-color: rgba(255, 255, 255, 0.9);

  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px palevioletred;
}

.HideElement {
  display: none;
}

/* MEDIA QUERY */

@media (max-width: 1030px) {
  .hero-section {
    flex-direction: column;
    /* background-color: pink; */
    text-align: center;
    width: auto;
    height: 80vh;
  }
}

@media (max-width: 925px) {
  .hero-section {
    flex-direction: column;
    /* background-color: blue; */
    text-align: center;
    width: auto;
    height: 85vh;
  }

  .herocontainer {
    border: 1px transparent;
    padding-bottom: 10px;
  }
}

@media (max-width: 786px) {
  .hero-section {
    flex-direction: column;
    /* background-color: red; */
    text-align: center;
    width: auto;
    height: 95vh;
  }

  .herocontainer {
    border: 1px transparent;

    padding-bottom: 10px;
  }

    #mySearch{
    height: 6rem;
    width: 50rem;
  }
}

@media (max-width: 500px) {
  .hero-section {
    height: 98vh;
  }

  .herocontainer {
    border: 1px transparent;
    padding-bottom: 10px;
  }

    #mySearch{
    height: 5rem;
    width: 30rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .herocontainer {
    padding: 40px;
  }
  .herocontainer h1 {
    font-size: 400%;
    padding-bottom: 40px;
  }
  .herocontainer h3 {
    font-size: 200%;
    padding-bottom: 40px;
  }
  .herocontainer p {
    font-size: 120%;
    text-align: center;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
    font-size: 20px;
  }
  nav li:hover {
    border-bottom: 0.4rem var(--secondary-color) solid;
    transition: 0.3s ease-in-out;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*deepbeatz (Rajdeep Chowdhury) contribution : issue #100*/
.trynow-button{
  transition: transform .2s;
}
.trynow-button:hover{
  transform: scale(1.15);
}
.footer-links{
  transition: transform .2s;
}
.footer-links:hover{
  transform: scale(1.1);
}