.investment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.calculator-name-header {
    padding: 10px;
    border-radius: 0px 15px 0px 15px;
    box-shadow: 0px 0px 16px 1px;
    font-size: 25px;
  }

  label {
    font-size: 26px;
    font-weight: 500;
  }
  
  .input-box input{
    /* margin-top: 1rem; */
    padding: 5px;
  }

  #calc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 2rem;
  }

  [type="button"], .reset {
    height: 35px;
    margin: 20px;
    margin-bottom: -10px;
    width: 100px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
  }
  

#home{
    /* background-color: black; */
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: fixed;
      right: 2rem;
      bottom: 2rem;
      border-radius: 15px;
      color: #ffffff;
      background-color: #121916;
      height: 2.5rem;
      width: 2.5rem;
      font-size: 1.2;
      z-index: 999;
  }